$primaryBlue: rgba(73, 113, 255, 1);
$primaryWhite: #fff;
$darkPrimary: rgba(21, 33, 56, 1);
$darkSecondary: rgba(24, 28, 36, 1);
$bgPrimaryBlue: rgba(13, 16, 25, 1);
$bgLightBlue: rgba(23, 28, 37, 1);

