@import '../../../scss/breakpoints.scss';
@import '../../../scss/colors.scss';
@import '../../../scss/mixins.scss';
@import '../../../scss/typhography.scss';

.member{
    padding-top: 80px;
    position: relative;
}

.heading {
    text-align: left;
}

.welcome {
    font-size: 20px;
    text-transform: none;
    font-weight: 500;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    @media (max-width: 1024px) {
        font-size: 16px;
        line-height: 20px;
    }
}

.username {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.1;
    width: 380px;
    @media (max-width: 1024px) {
        font-size: 24px;
    }
}

.content {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    @media (max-width: 700px) {
        flex-wrap: wrap;
        gap: 24px;
    }
}

.review {
    width: 48%;
    background-color: $darkSecondary;
    border: 1px solid rgba(75, 79, 91, 1);
    border-radius: 20px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
    @media (max-width: 700px) {
        width: 100%;
    }
}

.support {
    width: 48%;
    background-color: $primaryBlue;
    border-radius: 20px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
    @media (max-width: 700px) {
        width: 100%;
    }
}

.text {
    font-size: 24px;
    font-weight: 600;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    @media (max-width: 480px) {
        font-size: 20px;
    }
}

.link {
    margin-top: 48px;
    padding: 18px 42px;
    border: 2px solid rgba(75, 79, 91, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    border-radius: 8px;
}

.linkSupport {
    margin-top: 48px;
    padding: 18px 42px;
    border: 2px solid #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    border-radius: 8px;
}

.newOrder {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: rgb(56, 98, 251);
    padding: 15px;
    max-width: 300px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: white;
    animation: fadeIn 0.5s ease-out, fadeOut 0.5s ease-in 4.5s;
    z-index: 5000;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.9);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
    @media (max-width: 480px) {
      font-size: 18px;
    }
  }
  
  .newText {
    font-size: 16px;
    font-weight: 400;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  



